
.idea/disChord.iml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
.idea/*
chords1sliced.*
stuff/data/soundfiles/*
stuff/data/labels/*
!stuff/data/*/.gitkeep